<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" id="navtitle" routerLink="/home">{{title}}</a>
        <div class="d-flex navlink" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navlinklang">
                Langue
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Français</a></li>
                <li><a class="dropdown-item" href="#">Anglais</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" id="navlink" routerLink="/login">S'identifier</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div></div>
    <div class="banner">
      <div class="bannerInfo">
        <h1>Films et séries en illimité, et bien plus</h1>
        <h6>
          Où que vous soyez. Annulez à tout moment.
          <br>
          Prêt à regarder Kipflixm ? Cliquez sur le bouton commencer.
        </h6>
        <a href="#" id="navstart" routerLink="/login">Commencer ></a>
      </div>
    </div>
  </div>
