*{
    margin: 0;
    padding: 0;
}
.bImg{
    background-image: url(../../../../../assets/banner2.png);
    background-position: center;
    background-size: cover;
}
.navstart{
    text-decoration: none;
    color: inherit;
    background-color: #e50914;
    border-radius: 10px;
}