<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 dImg">
    <app-navbar title="Kipflixm"></app-navbar>
        <div class="card bg-dark bg-opacity-75">
            <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
            <div class="card-header text-white text-center">
                <h3>Authentification</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Username" formControlName="username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                    </div>
                    <button class="btn me-3 mb-5">Login</button>
                </form>
            </div>
        </div>
</div>
